<link rel="stylesheet" href="/stylesheets/style.css" />

</head>
<body>
<nav>
  <a 
  href="/" >
  grateful home
</a>

</nav>

<main>
  <p id="indexlogo">what makes me happy<span id='period'>.</span></p>
  <div class="fix-table-head">
  <table>
    <thead>
      <tr>
        <th id="tableheaderfont">date</th>
        <th id="tableheaderfont">happiness</th>
        <th id="tableheaderfont">details</th>
        <th id="tableheaderfont"></th>
      </tr>
    </thead>
    <tbody>
    <% profile.happys.forEach(happy => { %>
      <tr>
        <td id="tablefont"><%= happy.date.getUTCMonth() + 1 %>/<%= happy.date.getUTCDate() %>/<%= happy.date.getUTCFullYear() %> </td>
        <td id="tablefont"><%= happy.description %></td>
        <td id="tablefont"><a href="/happys/<%= happy._id %>">change me :)</a></td>
        <td>
          <form action="/happys/<%= happy._id %>?_method=DELETE" method="POST">
            <button>x</button>
          </form>
        </td>
      </tr>
    <% })%>
  </tbody>
</table>
  </div>



  <p id="indexlogo">goals<span id='period'>.</span></p>
  <div class="fix-table-head">
  <table>
    <thead>
      <tr>
        <th id="tableheaderfont">date</th>
        <th id="tableheaderfont">goals</th>
        <th id="tableheaderfont">details</th>
      </tr>
    </thead>
  <tbody>
    <% profile.goals.forEach(goal => { %>
      <tr>
        <td id="tablefont"><%= goal.date.getUTCMonth() + 1 %>/<%= goal.date.getUTCDate() %>/<%= goal.date.getUTCFullYear() %> </td>
        <td id="tablefont"><%= goal.goalDescription %></td>
        <td id="tablefont"><a href="/goals/<%= goal._id %>">change me :)</a></td>
        <td>
          <form action="/goals/<%= goal._id %>?_method=DELETE" method="POST">
            <button>x</button>
          </form>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
  </div>
</main>


