<link rel="stylesheet" href="/stylesheets/style.css" />

</head>
<body>
<nav>
  <a 
  href="/happys/new" >
  grateful home
</a>

</nav>

<main>
  <p id="indexlogo">what makes me happy<span id='period'>.</span></p>
  <table>
    <thead>
      <tr>
        <th>happy things</th>
        <th>date</th>
        <th>details</th>
      </tr>
    </thead>
  <tbody>
    <% happys.forEach(happy => { %>
      <tr>
        <td><%= happy.description %></td>
        <td><%= happy.date.getUTCMonth() + 1 %>/<%= happy.date.getUTCDate() %>/<%= happy.date.getUTCFullYear() %> </td>
        <td><a href="/happys/<%= happy._id %>">click me :)</a></td>
        <td>
          <form action="/happys/<%= happy._id %>?_method=DELETE" method="POST">
            <button>x</button>
          </form>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>



  <p id="indexlogo">goals<span id='period'>.</span></p>
  <table>
    <thead>
      <tr>
        <th>goals</th>
        <th>date</th>
        <th>details</th>
      </tr>
    </thead>
  <tbody>
    <% goals.forEach(goal => { %>
      <tr>
        <td><%= goal.goalDescription %></td>
        <td><%= goal.date.getUTCMonth() + 1 %>/<%= goal.date.getUTCDate() %>/<%= goal.date.getUTCFullYear() %> </td>
        <td><a href="/goals/<%= goal._id %>">click me :)</a></td>
        <td>
          <form action="/goals/<%= goal._id %>?_method=DELETE" method="POST">
            <button>x</button>
          </form>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
</main>


