<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
</head>
<body>
<nav>
  <a href="/profiles"> grateful view </a>
</nav>


<main>
  <p id="showlogo">goals<span id='period'>.</span></p>
  <section>
    <p id="editfont"> <%= goal.goalDescription %> </p>
    <a href="/goals/<%= goal._id %>/edit">
      <button>edit my goal</button>
    </a>
  </section>
</main>

<%- include('../partials/footer') %>