<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
</head>

<main>
  <p id="happyshowlogo">what makes me happy<span id='period'>.</span></p>
  <section>
    <p id="editfont"> <%= happy.description %> </p>
    <form id="happy-form" action="/happys/<%= happy._id %>?_method=PUT" method="POST">
      <input id=happy-input
      type="text" 
      name="description"
      value="<%= happy.description %>"> 
      <button class="updatebuttons-style" type="submit">update</button>
    </form>
  </section>
</main>

<%- include('../partials/footer') %>